{% if page.output_format == 'markdown' %}
  {% include profile-header.md %}
{% else %}
  {% assign profile = site.data.profile.locales[page.lang] %}
  {% assign organization = site.data.profile.organization.locales[page.lang] %}
  <div class="profile-header">
    <div class="profile-image">
      <img src="{{ '/images/yoshioka.jpg' | relative_url }}" alt="{{ profile.image_alt | escape }}">
    </div>
    <div class="profile-details">
      <h1>{{ profile.heading | escape }}</h1>
      <p>
        {{ organization | escape -}}
        <br>
        {% for line in profile.affiliation %}
          {{ line | escape -}}
          {%- unless forloop.last -%}
            <br>
          {% endunless %}
        {% endfor %}
      </p>
    </div>
  </div>
{% endif %}
